<div class="login-container">
    <img class="film" src="assets/images/film.png" alt="">
    <div class="login-logo">Rotten Potatos</div>
    <div class="login-desc">At a school, a teacher teaches something to his students. He asked that the disciples bring a large plastic bag and fill it with potatoes. The potatoes represent everyone who has hurt them and has not been forgiven. Every potato brought, written a name of the person who had hurt the students' hearts.</div>
</div>
<div class="login-form">
    <div class="form-group">
        <label for="uname">Username</label>
        <input type="text" name="uname"/>
    </div>
    <div class="form-group">
        <label for="pword">Password</label>
        <input type="password" name="pword"/>
    </div>
</div>